# WEB SCRAPING – ASSIGNMENT 2

using selenium in Jupyter NoteBook

In [109]:
import selenium
import pandas as pd
from selenium import webdriver
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys
import time

# Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. 
You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [2]:
driver=webdriver.Chrome(r"chromedriver.exe")  
driver.maximize_window()
driver.get("https://www.naukri.com/")

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Analyst")

location=driver.find_element(By.XPATH,'//input[@placeholder="Enter location"]')
location.send_keys('Bangalore')

search=driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
search.click()

time.sleep(3)

job_title=[]
job_location=[]
job_company=[]
job_experience=[]

title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)


location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    cname=i.text
    job_company.append(cname)


experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i  in experience_tags[0:10]:
    experience=i.text
    job_experience.append(experience)

driver.close()

dataAnalyst=pd.DataFrame({'job-title ':job_title,'job-location':job_location,'company_name':job_company,'experience_required':job_experience})
dataAnalyst

,job-title,job-location,company_name,experience_required
0,Senior Data Analyst,Bangalore/Bengaluru,Optum,5-7 Yrs
1,Leap COE Intern(Data Analyst),Bangalore/Bengaluru,Info Origin Inc.,0-1 Yrs
2,"Data Analyst - Data Science, 3 To 5 Years","Bangalore/Bengaluru, Mumbai (All Areas)",Rise Finconnect,2-6 Yrs
3,"Data Analyst, plsql, Tableau, Informatica","Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",Capgemini,3-8 Yrs
4,Data Analyst / MIS,Bangalore/Bengaluru(Indira Nagar),Trukker Technologies,3-6 Yrs
5,Senior Data Analyst - SQL/Tableau,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Global Employees,7-12 Yrs
6,Senior Data Analyst II,Bangalore/Bengaluru,Flipkart,3-6 Yrs
7,Data Analyst - Data Visualization & Reporting,"Bangalore/Bengaluru, Kolkata, Hyderabad/Secund...",Global Employees,5-10 Yrs
8,Data Analyst,Remote,LINGARO INDIA PRIVATE LIMITED,3-5 Yrs
9,Data Analyst - EdTech,Bangalore/Bengaluru,TalentStack,2-6 Yrs

# Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location.

In [3]:
driver=webdriver.Chrome(r"chromedriver.exe")  
driver.maximize_window()
driver.get("https://www.naukri.com/")

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

location=driver.find_element(By.XPATH,'//input[@placeholder="Enter location"]')
location.send_keys('Bangalore')

search=driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
search.click()

time.sleep(3)

job_title=[]
job_location=[]
job_company=[]
job_experience=[]

title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)


location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    cname=i.text
    job_company.append(cname)

driver.close()

dataScientist=pd.DataFrame({'job-title ':job_title,'job-location':job_location,'company_name':job_company})
dataScientist

,job-title,job-location,company_name
0,Analystics & Modeling Specialist,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
1,Job||Job Opening For AI Technologist - Data Sc...,"Bangalore/Bengaluru, New Delhi, Hyderabad/Secu...",Wipro
2,Assistant Manager - Data Science,"Bangalore/Bengaluru, Mumbai, Pune",CitiusTech
3,Data scientist _Tata Consultancy Services(Tcs),"Bangalore/Bengaluru, Kochi/Cochin, Indore, New...",TATA CONSULTANCY SERVICES (TCS)
4,Data Science Senior Analyst,"Bangalore/Bengaluru, Kolkata, Mumbai, Hyderaba...",Accenture
5,Hiring For DATA Scientist @ NTT DATA Business ...,"Bangalore/Bengaluru, Noida, Hyderabad/Secunder...",NTT DATA Business Solutions Private Limited
6,Expert Data Scientist,"Bangalore/Bengaluru, Mumbai",United Phosphorus Limited
7,Urgent Job Opening For AI Practitioner - Data ...,"Bangalore/Bengaluru, Kochi/Cochin, New Delhi, ...",Wipro
8,Data Scientist - Full Stack,"Bangalore/Bengaluru, Hyderabad/Secunderabad",Salesforce
9,BCAI - Senior Data Scientist,Bangalore/Bengaluru,Bosch Global Software Technologies

# Q3: In this question you have to scrape data using the filters available on the webpage as shown below:
You have to use the location and salary filter

You have to scrape data for “Data Scientist” designation for first 10 job results.

You have to scrape the job-title, job-location, company name, experience required.

The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs

In [4]:
driver=webdriver.Chrome(r"chromedriver.exe")  
driver.maximize_window()
driver.get("https://www.naukri.com/")

designation=driver.find_element(By.CLASS_NAME,"suggestor-input")
designation.send_keys("Data Scientist")

#location=driver.find_element(By.XPATH,'//input[@placeholder="Enter location"]')
#location.send_keys('Bangalore')
search=driver.find_element(By.XPATH,'//div[@class="qsbSubmit"]')
search.click()
time.sleep(3)
driver.find_element(By.XPATH,"//span[@title='Delhi / NCR']").click()
time.sleep(3)
driver.find_element(By.XPATH,"//span[@title='0-3 Lakhs']").click()
job_title=[]
job_location=[]
job_company=[]
job_experience=[]

time.sleep(3)

title_tags=driver.find_elements(By.XPATH,'//a[@class="title fw500 ellipsis"]')
for i in title_tags[0:10]:
    title=i.text
    job_title.append(title)


location_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi location']")
for i in location_tags[0:10]:
    location=i.text
    job_location.append(location)

company_tags=driver.find_elements(By.XPATH,"//a[@class='subTitle ellipsis fleft']")
for i in company_tags[0:10]:
    cname=i.text
    job_company.append(cname)


experience_tags=driver.find_elements(By.XPATH,"//li[@class='fleft grey-text br2 placeHolderLi experience']//span")
for i  in experience_tags[0:10]:
    experience=i.text
    job_experience.append(experience)

driver.close()

data_ScientistLoc=pd.DataFrame({'job-title ':job_title,'job-location':job_location,'company_name':job_company,'experience_required':job_experience})
data_ScientistLoc

,job-title,job-location,company_name,experience_required
0,Data scientist _Tata Consultancy Services(Tcs),"Delhi / NCR, Kochi/Cochin, Indore, New Delhi, ...",TATA CONSULTANCY SERVICES (TCS),9-14 Yrs
1,Data Scientist,"Noida, Ghaziabad, Gurgaon/Gurugram",Genpact,6-10 Yrs
2,Hiring Of Data Science Intern,"Noida, Bangalore/Bengaluru",FLIP ROBO TECHNOLOGIES PRIVATE LIMITED,0-2 Yrs
3,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
4,Data Scientist For Healthcare Product team,"Delhi / NCR, Chennai, Bangalore/Bengaluru",SECUREKLOUD TECHNOLOGIES,2-7 Yrs
5,Data Scientist Intern,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugram",Care Health Insurance (CHI),0-0 Yrs
6,Data Scientist,"Delhi / NCR, Pune, Bangalore/Bengaluru",Mount Talent Consulting Private Limited,2-4 Yrs
7,Knowledge/Data Scientist,Delhi / NCR,BOLD Technology Systems,3-6 Yrs
8,Data Science,"Delhi / NCR, Noida, Faridabad, Gurgaon/Gurugra...",Mount Talent Consulting Private Limited,2-5 Yrs
9,Data Scientist,Gurgaon/Gurugram,PRASU SOFTWARE SOLUTIONS PRIVATE LIMITED,2-4 Yrs

# Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand

2. Product Description

3. Price

In [39]:
driver=webdriver.Chrome(r"chromedriver.exe")  
driver.maximize_window()
driver.get("https://www.flipkart.com/")

time.sleep(3)

try:
    driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]').click()
except NoSuchElementException:
    print('No login pop-up')
    

time.sleep(3)

driver.find_element(By.XPATH,'//input[@class="_3704LK"]').send_keys('sunglasses')
driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]').click()

brand=[]
product_description=[]
price=[]

time.sleep(3)

for page in range(0,3):
    brand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in brand_tags[0:100]:
        brandName=i.text
        brand.append(brandName)
    
    product_tags=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    for j in product_tags[0:100]:
        productD=j.text
        product_description.append(productD)
        
    price_tags=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for k in price_tags[0:100]:
        price_t=k.text
        price.append(price_t)
    
time.sleep(3)
next_page=driver.find_element(By.XPATH,'//a[@class="ge-49M"]')
next_page.click
    
driver.close()

sunglasses_df=pd.DataFrame({'Brand':brand[0:100],'Product Description':product_description[0:100],'Price':price[0:100]})
sunglasses_df

            Brand                                Product Description   Price
0       ROYAL SON             Polarized Retro Square Sunglasses (61)    ₹699
1   VINCENT CHASE  by Lenskart UV Protection, Polarized Aviator S...    ₹949
2        DAHAAZIL  UV Protection, Night Vision, Riding Glasses Wa...    ₹194
3        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹599
4        Fastrack      UV Protection Wayfarer Sunglasses (Free Size)    ₹359
..            ...                                                ...     ...
95  VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...    ₹949
96     LIZA ANGEL  Riding Glasses, Night Vision Spectacle Sunglas...    ₹179
97         GANSTA    Gradient, UV Protection Aviator Sunglasses (57)    ₹296
98       Fastrack        UV Protection Shield Sunglasses (Free Size)    ₹669
99  VINCENT CHASE  by Lenskart Polarized, UV Protection Aviator S...  ₹1,415

[100 rows x 3 columns]

# Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone.
This task will be done in following steps:

1. First get the webpage https://www.flipkart.com/

2. Enter “iphone 11” in “Search” field .

3. Then click the search button.

In [113]:
driver=webdriver.Chrome(r"chromedriver.exe")  
driver.maximize_window()
driver.get("https://www.flipkart.com/")

time.sleep(3)

try:
    driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]').click()
except NoSuchElementException:
    print('No login pop-up')
    
time.sleep(2)

driver.find_element(By.XPATH,'//input[@class="_3704LK"]').send_keys('iphone11')
driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]').click()

time.sleep(3)
driver.find_element(By.XPATH,'//div[@class="_4rR01T"]').click()

time.sleep(3)

driver.switch_to.window(driver.window_handles[1])

driver.find_element(By.XPATH,'//div[@class="_3UAT2v _16PBlm"]/span').click()

rating=[]
review_summary=[]
full_review=[]

time.sleep(3)

start=0
end=10

for page in range(start,end):
    
    rating_tag=driver.find_elements(By.XPATH,'//div[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tag[0:100]:
        rating_all=i.text
        rating.append(rating_all)
    
    summary_rs=driver.find_elements(By.XPATH,'//p[@class="_2-N8zT"]')
    for i in summary_rs[0:100]:
        summary_review=i.text
        review_summary.append(summary_review)
    
    review_full=driver.find_elements(By.XPATH,'//div[@class="t-ZTKy"]/div/div')
    for i in review_full[0:100]:
        review_fullAll=i.text
        full_review.append(review_fullAll)

time.sleep(4)

next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]/span')
next_page.click
time.sleep(3)

driver.quit()

review_in_deep=pd.DataFrame({'Rating':rating,'Review summary':review_summary,'Full review':full_review})
review_in_deep

,Rating,Review summary,Full review
0,5,Simply awesome,Really satisfied with the Product I received.....
1,5,Perfect product!,Amazing phone with great cameras and better ba...
2,5,Best in the market!,Great iPhone very snappy experience as apple k...
3,5,Highly recommended,What a camera .....just awesome ..you can feel...
4,5,Worth every penny,Previously I was using one plus 3t it was a gr...
...,...,...,...
95,5,Fabulous!,This is my first iOS phone. I am very happy wi...
96,5,Great product,Amazing Powerful and Durable Gadget.\n\nI’m am...
97,5,Worth every penny,"i11 is worthy to buy, too much happy with the ..."
98,5,Highly recommended,It's my first time to use iOS phone and I am l...
99,4,Good choice,So far it’s been an AMAZING experience coming ...

# Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:

1. Brand

2. Product Description

3. Price

In [114]:
driver=webdriver.Chrome(r"chromedriver.exe")  
driver.maximize_window()
driver.get("https://www.flipkart.com/")
time.sleep(3)
try:
    driver.find_element(By.XPATH,'//button[@class="_2KpZ6l _2doB4z"]').click()
except NoSuchElementException:
    print('No login pop-up')
    time.sleep(2)

driver.find_element(By.XPATH,'//input[@class="_3704LK"]').send_keys('sneakers')
driver.find_element(By.XPATH,'//button[@class="L0Z3Pu"]').click()

time.sleep(3)
sneakers_brand=[]
sneakers_prodDesc=[]
sneakers_price=[]
sneaker_discount=[]
time.sleep(3)
start=0
end=3
for page in range(start,end):
    sBrand_tags=driver.find_elements(By.XPATH,'//div[@class="_2WkVRV"]')
    for i in sBrand_tags[0:100]:
        s_brand=i.text
        sneakers_brand.append(s_brand)
    
    s_prodD=driver.find_elements(By.XPATH,'//a[@class="IRpwTa _2-ICcC"]')
    s_prodD1=driver.find_elements(By.XPATH,'//a[@class="IRpwTa"]')
    
    for i in s_prodD1[0:100]:
        sprod_d1=i.text
        sneakers_prodDesc.append(sprod_d1)
    
    for i in s_prodD[0:100]:
        sprod_d=i.text
        sneakers_prodDesc.append(sprod_d)
    
    s_price=driver.find_elements(By.XPATH,'//div[@class="_30jeq3"]')
    for i in s_price[0:100]:
        sprice=i.text
        sneakers_price.append(sprice)
        
    sneaker_disc=driver.find_elements(By.XPATH,'//div[@class="_3Ay6Sb"]/span')
    for i in sneaker_disc[0:100]:
        s_disc=i.text
        sneaker_discount.append(s_disc)
        
time.sleep(3)
next_page=driver.find_element(By.XPATH,'//a[@class="_1LKTO3"]/span')
next_page.click
time.sleep(3)

driver.quit()

sneakers_dataframe=pd.DataFrame({'Brand':sneakers_brand[0:100],'Product Description':sneakers_prodDesc[0:100],'Price':sneakers_price[0:100],'Discount':sneaker_discount[0:100]})
sneakers_dataframe

         Brand                            Product Description   Price Discount
0    ROCKFIELD                               Sneakers For Men    ₹424  57% off
1      KRAFTER           Krafter denim jeans Sneakers For Men    ₹499  50% off
2       Layasa                          supr Sneakers For Men    ₹199  80% off
3         PUMA                 Puma Smash v2 Sneakers For Men  ₹2,085  58% off
4    ONECENTRE                          STR2 Sneakers For Men    ₹299  50% off
..         ...                                            ...     ...      ...
95    Red Rose                          supr Sneakers For Men    ₹499  55% off
96      Layasa              Smash Wns v2 L Sneakers For Women    ₹179  49% off
97        PUMA  Levi's Men's Lancer Sneakers Sneakers For Men  ₹1,645  74% off
98      LEVI'S        Casual Sneaker for Men Sneakers For Men  ₹1,439  71% off
99  pollachief                               Sneakers For Men    ₹503  64% off

[100 rows x 4 columns]

# Q7: Go to the link - https://www.myntra.com/shoes

Set second Price filter and Color filter to “Black”, as shown in the below image.

In [50]:
driver=webdriver.Chrome(r"chromedriver.exe")  
driver.maximize_window()
driver.get("https://www.myntra.com/shoes")

time.sleep(5)
driver.find_element(By.XPATH,'//span[@data-colorhex="black"]').click()
time.sleep(5)
driver.find_element(By.XPATH,'/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label').click()

time.sleep(5)

shoe_brand=[]
shoe_desc=[]
shoe_price=[]

start=0
end=2
for page in range(start,end):
    shoeB_tags=driver.find_elements(By.XPATH,'//h3[@class="product-brand"]')
    for i in shoeB_tags[0:100]:
        s_brand=i.text
        shoe_brand.append(s_brand)
        
    shoeD_tags=driver.find_elements(By.XPATH,'//h4[@class="product-product"]')
    for i in shoeD_tags[0:100]:
        s_desc=i.text
        shoe_desc.append(s_desc)
        
    shoeP_tags=driver.find_elements(By.XPATH,'//div[@class="product-price"]')
    for i in shoeP_tags[0:100]:
        s_price=i.text.split(" ")[0:2]
        shoe_price.append(s_price)
    
time.sleep(3)
next_button=driver.find_element(By.XPATH,'//a[@rel="next"]')
next_button.click
time.sleep(3)

driver.quit()

myntra_shoe=pd.DataFrame({'Brand':shoe_brand,'Product Description':shoe_desc,'Price':shoe_price})
myntra_shoe

               Brand             Product Description            Price
0           Skechers      Men Max Cushioning Running   [Rs., 7199Rs.]
1               Nike    Men React Infinity 3 Running  [Rs., 11196Rs.]
2           Skechers  Men GO FLEX 2-COMPLETION Shoes      [Rs., 7499]
3   ADIDAS Originals        Men Niteball II Sneakers   [Rs., 9349Rs.]
4           Skechers      Men Max Cushioning Running   [Rs., 7649Rs.]
..               ...                             ...              ...
95            Clarks              Men Leather Derbys      [Rs., 7499]
96  ADIDAS Originals       Men Woven NMD_31 Sneakers  [Rs., 11199Rs.]
97              Puma     Unisex Accelerate Badminton   [Rs., 7199Rs.]
98  ADIDAS Originals            Men Ozweego Sneakers     [Rs., 10999]
99      UNDER ARMOUR       Men Lockdown 5 Basketball      [Rs., 6999]

[100 rows x 3 columns]

# Q8: Go to webpage https://www.amazon.in/ Enter “Laptop” in the search field and then click the search icon. Then set CPU Type filter to “Intel Core i7” as shown in the below image:
    
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
    
1. Title

2. Ratings

3. Price

In [75]:
driver=webdriver.Chrome(r"chromedriver.exe")  
driver.maximize_window()
driver.get("https://www.amazon.in/")

textBox=driver.find_element(By.ID,'twotabsearchtextbox')
textBox.send_keys('Laptop')

submit=driver.find_element(By.ID,'nav-search-submit-button')
submit.click()

time.sleep(3)

cpu_type=driver.find_element(By.XPATH,'//*[@id="p_n_feature_thirteen_browse-bin/12598163031"]/span/a/span')
cpu_type.click()

time.sleep(3)
product_title=[]
product_rating=[]
product_price=[]

title_tags=driver.find_elements(By.XPATH,'//span[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    product_title.append(i.text)
    
product_tags=driver.find_elements(By.XPATH,'//div[@class="a-row a-size-small"]/span[1]')
for i in product_tags[0:10]:
    rating=i.get_attribute('aria-label')
    product_rating.append(rating)
    
price_tags=driver.find_elements(By.XPATH,'//span[@class="a-price"]')
for i in price_tags[0:10]:
    product_price.append(i.text)

time.sleep(2)

driver.quit()

laptop_dataFrame=pd.DataFrame({'Title':product_title,'Rating':product_rating,'Price':product_price})
laptop_dataFrame

,Title,Rating,Price
0,Samsung Galaxy Book2 Intel 12th Gen core i7 39...,3.6 out of 5 stars,"₹79,490"
1,Samsung Galaxy Book2 Pro 360 Intel 12th Gen i7...,3.5 out of 5 stars,"₹1,29,990"
2,Lenovo Ideapad Gaming 3 Intel Core i7 10th Gen...,3.9 out of 5 stars,"₹59,990"
3,Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...,5.0 out of 5 stars,"₹81,990"
4,Samsung Galaxy Book2 Intel 12th Gen core i7 39...,3.6 out of 5 stars,"₹79,490"
5,"HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...",4.2 out of 5 stars,"₹89,990"
6,"ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...",3.7 out of 5 stars,"₹54,848"
7,Hp Pavilion X360 11Th Gen Intel Core I7 14 Inc...,4.0 out of 5 stars,"₹82,400"
8,HP Pavilion 14 12th Gen Intel Core i7 16GB SDR...,3.9 out of 5 stars,"₹87,990"
9,Fujitsu UH-X 11th Gen Intel Core i7 13.3” FHD ...,4.5 out of 5 stars,"₹84,990"

# Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. 
You have to scrape company name, No. of days ago when job was posted, Rating of the company.

This task will be done in following steps:

1. First get the webpage https://www.ambitionbox.com/

2. Click on the Job option as shown in the image

In [98]:
driver=webdriver.Chrome(r"chromedriver.exe")  
driver.maximize_window()
driver.get("https://www.ambitionbox.com/")

Designation='Data Scientist'

time.sleep(2)

driver.find_element(By.XPATH,'//a[@title="Jobs"]').click()
driver.find_element(By.XPATH,'//input[@title="Enter Designation, Company or a Skill"]').send_keys(Designation)
driver.find_element(By.XPATH,'//button[@class="ab_btn search-btn round"]/span[1]').click()
time.sleep(3)

driver.find_element(By.XPATH,'//div[@title="Location"]').click()
time.sleep(2)
driver.find_element(By.XPATH,'//input[@placeholder="Search locations"]').send_keys('Noida')
driver.find_element(By.XPATH,'//label[@for="location_Noida"]').click()

time.sleep(2)

co_name=[]
no_of_days=[]
rating_co=[]

#Scraping Company Name
comp_name=driver.find_elements(By.XPATH,'//p[@class="company body-medium"]')
for i in comp_name[0:10]:
    cname=i.text
    co_name.append(cname)

#Scraping No. of days ago when job was posted 
no_days=driver.find_elements(By.XPATH,'//div[@class="other-info"]/span[1]')
for i in no_days[0:10]:
    noofdays=i.text
    no_of_days.append(noofdays)

#Scraping Rating of the company
comp_rating=driver.find_elements(By.XPATH,'//span[@class="body-small"]')
for i in comp_rating[0:10]:
    comRating=i.text
    rating_co.append(comRating)
    
time.sleep(3)
driver.quit() #closing all active window opened by selenium

#DataFrame for Job posted on ambitionbox
ambitionbox=pd.DataFrame({'Company Name':co_name,'No. of days ago when job was posted':no_of_days,'Rating of the company':rating_co})
ambitionbox

,Company Name,No. of days ago when job was posted,Rating of the company
0,CBRE South Asia Pvt Ltd,2d ago,4.3
1,Ericsson India Global Services Pvt. Ltd.,12d ago,4.3
2,GENPACT India Private Limited,5d ago,4.0
3,Optum Global Solutions (India) Private Limited,9d ago,4.1
4,Optum Global Solutions (India) Private Limited,10d ago,4.1
5,Ericsson India Global Services Pvt. Ltd.,22d ago,4.3
6,SOPRA STERIA INDIA LIMITED,11d ago,4.2
7,EXL Services.com ( I ) Pvt. Ltd.,11d ago,3.9
8,EY,21d ago,3.8
9,CARE HEALTH INSURANCE LIMITED,26d ago,4.0

# Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary.

The above task will be, done as shown in the below steps:
    
1. First get the webpage https://www.ambitionbox.com/

2. Click on the salaries option as shown in the image.

3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and
then click on “Data Scientist”.

4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average
salary, minimum salary, maximum salary, experience required.

5. Store the data in a dataframe.

In [173]:
driver=webdriver.Chrome(r"chromedriver.exe")  
driver.maximize_window()
driver.get("https://www.ambitionbox.com/")

driver.implicitly_wait(5)

driver.find_element(By.XPATH,'/html[1]/body[1]/div[1]/nav[2]/div[1]/ul[1]/li[3]/a[1]').click()

driver.find_element(By.XPATH,'/html[1]/body[1]/div[1]/nav[2]/div[1]/ul[1]/li[3]/div[1]/ul[1]/li[1]/div[1]').click()

time.sleep(3)
search=driver.find_element(By.ID,'jobProfileSearchbox')
search.click()
time.sleep(3)
search.send_keys('Data Scientist')
time.sleep(3)
search.send_keys(Keys.ARROW_DOWN)

search.send_keys(Keys.ENTER)


company_name=[]
total_salary_record=[]
average_salary=[]
minimum_salary=[]
maximum_salary=[]
experience_required=[]

time.sleep(3)

coName=driver.find_elements(By.XPATH,'//div[@class="company-info"]/a')
for i in coName[0:10]:
    co_a_name=i.get_attribute('title').split('Data Scientist Salary')[0]
    company_name.append(co_a_name)
    
totalSalRecord=driver.find_elements(By.XPATH,'//span[@class="datapoints"]')
for i in totalSalRecord[0:10]:
    total_sal=i.text.replace('(',"").replace(")","")
    total_salary_record.append(total_sal)
    
avg_salary=driver.find_elements(By.XPATH,'//p[@class="averageCtc"]')
for i in avg_salary[0:10]:
    sal_avg=i.text
    average_salary.append(sal_avg)
    
min_sal=driver.find_elements(By.XPATH,'//div[@class="salary-values"]/div[1]')
for i in min_sal[0:10]:
    sal_min=i.text
    minimum_salary.append(sal_min)
    
max_salary=driver.find_elements(By.XPATH,'//div[@class="salary-values"]/div[2]')
for i in max_salary[0:10]:
    sal_max=i.text
    maximum_salary.append(sal_max)

exp_req=driver.find_elements(By.XPATH,'//div[@class="sbold-list-header"]')
for i in exp_req[0:10]:
    required_exp=i.text.split("(")[0]
    experience_required.append(required_exp)
    
driver.quit()

salary_comparison=pd.DataFrame({'Company name':company_name,'Total salary record':total_salary_record,'average salary':average_salary,'Minimum salary':minimum_salary,'Maximum salary':maximum_salary,'Experience required':experience_required})
salary_comparison

,Company name,Total salary record,average salary,Minimum salary,Maximum salary,Experience required
0,Walmart,based on 22 salaries,₹ 31.7L,₹ 25.0L,₹ 45.0L,3-4 yrs experience
1,Ab Inbev,based on 50 salaries,₹ 19.7L,₹ 15.0L,₹ 25.5L,2-4 yrs experience
2,Optum,based on 48 salaries,₹ 16.5L,₹ 11.0L,₹ 22.6L,2-4 yrs experience
3,ZS,based on 32 salaries,₹ 15.7L,₹ 11.0L,₹ 22.0L,1-2 yrs experience
4,Fractal Analytics,based on 105 salaries,₹ 15.1L,₹ 9.0L,₹ 23.0L,2-4 yrs experience
5,Tiger Analytics,based on 60 salaries,₹ 14.6L,₹ 9.0L,₹ 20.0L,2-4 yrs experience
6,Legato Health Technologies,based on 11 salaries,₹ 14.6L,₹ 11.0L,₹ 20.0L,4 yrs experience
7,Tredence,based on 10 salaries,₹ 13.9L,₹ 8.8L,₹ 17.5L,3 yrs experience
8,UnitedHealth,based on 90 salaries,₹ 13.7L,₹ 8.0L,₹ 20.5L,2-4 yrs experience
9,Reliance jio,based on 45 salaries,₹ 13.6L,₹ 6.0L,₹ 26.2L,1-4 yrs experience