In [66]:
import selenium
import pandas as pd
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException,NoSuchElementException,ElementNotVisibleException,ElementClickInterceptedException
from selenium.webdriver.common.by import By
from selenium.webdriver.support.select import Select
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.action_chains import ActionChains
from selenium.webdriver.chrome.options import Options
import re
import time
import warnings
import requests

warnings.filterwarnings("ignore")

# Q1. Scrape the details of most viewed videos on YouTube from Wikipedia.

Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos

You need to find following details:

A) Rank

B) Name

C) Artist

D) Upload date

E) Views

In [5]:
url = 'https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get(url)

time.sleep(3)
rank=[]
name=[]
artist=[]
upload_date=[]
views=[]

rank_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
try:
    for i in rank_tag[0:30]:
        rank.append(i.text)
except NoSuchElementException:
    rank.append("-")
except ElementNotVisibleException:
    rank.append("--")
    
name_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
try:
    for i in name_tag[0:30]:
        v_name=i.text.split('[')
        name.append(v_name[0])
except NoSuchElementException:
    name.append("-")
except ElementNotVisibleException:
    name.append("--")
    
artist_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
try:
    for i in artist_tag[0:30]:
        artist.append(i.text)
except NoSuchElementException:
    artist.append("-")
    
date_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
try:
    for i in date_tag[0:30]:
        upload_date.append(i.text)
except NoSuchElementException:
    upload_date.append("-")
    
view_tag=driver.find_elements(By.XPATH,'//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
try:
    for i in view_tag[0:30]:
        views.append(i.text)
except NoSuchElementException:
    views.append("-")
    
driver.close()

most_viewed=pd.DataFrame({'Rank':rank,'Video Name':name,'Artist':artist,'Upload Date':upload_date,'Views':views})
most_viewed

,Rank,Video Name,Artist,Upload Date,Views
0,1.,"""Baby Shark Dance""",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",11.24
1,2.,"""Despacito""",Luis Fonsi,"January 12, 2017",7.96
2,3.,"""Johny Johny Yes Papa""",LooLoo Kids,"October 8, 2016",6.44
3,4.,"""Shape of You""",Ed Sheeran,"January 30, 2017",5.80
4,5.,"""See You Again""",Wiz Khalifa,"April 6, 2015",5.62
5,6.,"""Bath Song""",Cocomelon – Nursery Rhymes,"May 2, 2018",5.59
6,7.,"""Phonics Song with Two Words""",ChuChu TV,"March 6, 2014",4.85
7,8.,"""Uptown Funk""",Mark Ronson,"November 19, 2014",4.68
8,9.,"""Learning Colors – Colorful Eggs on a Farm""",Miroshka TV,"February 27, 2018",4.61
9,10.,"""Gangnam Style""",Psy,"July 15, 2012",4.53
10,11.,"""Masha and the Bear – Recipe for Disaster""",Get Movies,"January 31, 2012",4.51
11,12.,"""Wheels on the Bus""",Cocomelon – Nursery Rhymes,"May 24, 2018",4.31
12,13.,"""Dame Tu Cosita""",El Chombo,"April 5, 2018",4.05
13,14.,"""Sugar""",Maroon 5,"January 14, 2015",3.75
14,15.,"""Roar""",Katy Perry,"September 5, 2013",3.64
15,16.,"""Counting Stars""",OneRepublic,"May 31, 2013",3.63
16,17.,"""Sorry""",Justin Bieber,"October 22, 2015",3.58
17,18.,"""Axel F""",Crazy Frog,"June 16, 2009",3.49
18,18.,"""Thinking Out Loud""",Ed Sheeran,"October 7, 2014",3.49
19,20.,"""Baa Baa Black Sheep""",Cocomelon – Nursery Rhymes,"June 25, 2018",3.35
20,21.,"""Dark Horse""",Katy Perry,"February 20, 2014",3.34
21,22.,"""Faded""",Alan Walker,"December 3, 2015",3.33
22,23.,"""Girls Like You""",Maroon 5,"May 31, 2018",3.33
23,24.,"""Let Her Go""",Passenger,"July 25, 2012",3.29
24,25.,"""Bailando""",Enrique Iglesias,"April 11, 2014",3.26
25,26.,"""Lean On""",Major Lazer,"March 22, 2015",3.25
26,27.,"""Perfect""",Ed Sheeran,"November 9, 2017",3.24
27,28.,"""Waka Waka (This Time for Africa)""",Shakira,"June 4, 2010",3.23
28,29.,"""Shake It Off""",Taylor Swift,"August 18, 2014",3.20
29,30.,"""Humpty the train on a fruits ride""",Kiddiestv Hindi – Nursery Rhymes & Kids Songs,"January 26, 2018",3.14

# 2. Scrape the details team India’s international fixtures from bcci.tv. 
Url = https://www.bcci.tv/.

You need to find following details:

A) Match title (I.e. 1st ODI)

B) Series

C) Place

D) Date

E) Time

Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [10]:
url = 'https://www.bcci.tv'
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get(url)

match_title=[]
series=[]
place=[]
date=[]
m_time=[]

time.sleep(3)

#Click on INTERNATIONAL navigation
driver.find_element(By.XPATH,"//a[normalize-space()='INTERNATIONAL']").click()

time.sleep(3)
for _ in range(1):
    driver.execute_script("window.scrollBy(0,1000)")
    time.sleep(3)
    try:
        driver.find_element(By.XPATH,'/html[1]/body[1]/div[2]/div[2]/div[1]/div[1]/div[1]/div[2]/div[3]/div[2]/div[1]/button[1]').click()
    except NoSuchElementException:
        print("NoSuchElementException ")
    
title_tag=driver.find_elements(By.XPATH,'//span[@class="ng-binding"]')
try:
    for i in title_tag:
        match_title.append(i.text)
except NoSuchElementException:
    match_title.append("-")
match_title


series_tag=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
try:
    for i in series_tag:
        s_tag=i.text.split('-')
        series.append(s_tag[0])
except NoSuchElementException:
    series.append("-")
    

place_tag=driver.find_elements(By.XPATH,'//div[@class="fix-place ng-binding ng-scope"]')
try:
    for i in place_tag:
        p_tag=i.text.split('-')
        place.append(p_tag[1])
except NoSuchElementException:
    place.append("-")
    


date_tag=driver.find_elements(By.XPATH,'//h5[@class="ng-binding"]')
try:
    for i in date_tag:
        date.append(i.text)
except NoSuchElementException:
    date.append("-")
    

time_tag=driver.find_elements(By.XPATH,'//h5[@class="text-right ng-binding"]')
try:
    for i in time_tag:
        m_time.append(i.text)
except NoSuchElementException:
    m_time.append("-")
    
driver.close()


international_fixtures=pd.DataFrame({'Match Title':match_title,'Series':series,'Place':place,'Date':date,'Time':m_time})
international_fixtures

,Match Title,Series,Place,Date,Time
0,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,2nd T20I,"County Ground, Derby",13 SEP 2022,10:30 PM IST
1,INDIA WOMEN TOUR OF ENGLAND T20 SERIES 2022,3rd T20I,"County Ground, Bristol",15 SEP 2022,11:00 PM IST
2,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,1st ODI,"County Ground, Hove",18 SEP 2022,3:30 PM IST
3,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,1st T20I,"Punjab Cricket Association IS Bindra Stadium,...",20 SEP 2022,7:30 PM IST
4,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,2nd ODI,"St Lawrence Ground, Canterbury",21 SEP 2022,5:30 PM IST
5,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,2nd T20I,"Vidarbha Cricket Association Stadium, Nagpur",23 SEP 2022,7:30 PM IST
6,INDIA WOMEN TOUR OF ENGLAND ODI SERIES 2022,3rd ODI,"Lord's Cricket Ground, London",24 SEP 2022,3:30 PM IST
7,AUSTRALIA TOUR OF INDIA T20 SERIES 2022,3rd T20I,"Rajiv Gandhi International Stadium, Hyderabad",25 SEP 2022,7:30 PM IST
8,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,1st T20I,"Greenfield International Stadium, Thiruvanant...",28 SEP 2022,7:30 PM IST
9,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,2nd T20I,"Barsapara Cricket Stadium, Guwahati",2 OCT 2022,7:30 PM IST
10,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022-23,3rd T20I,"Holkar Cricket Stadium, Indore",4 OCT 2022,7:30 PM IST
11,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,1st ODI,Bharat Ratna Shri Atal Bihari Vajpayee Ekana ...,6 OCT 2022,1:30 PM IST
12,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,2nd ODI,"JSCA International Stadium Complex, Ranchi",9 OCT 2022,1:30 PM IST
13,SOUTH AFRICA TOUR OF INDIA ODI SERIES 2022-23,3rd ODI,"Arun Jaitley Stadium, Delhi",11 OCT 2022,1:30 PM IST

# 3. Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/

You need to find following details:

A) Name

B) Description

Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [41]:
url='https://www.guru99.com'
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get(url)

text='selenium exception handling'
time.sleep(3)

search=driver.find_element(By.XPATH,'//span[@class="kadence-svg-iconset"]')
search.click()

time.sleep(3)

try:
    search_text=driver.find_element(By.XPATH,'//input[@class="search-field"]')
    search_text.send_keys('selenium exception handling')
except:
    print("error in entering text")

searchButton=driver.find_element(By.XPATH,'//input[@class="search-submit"]')
searchButton.click()

time.sleep(3)
exception_page=driver.find_element(By.XPATH,'/html/body/div[1]/div/div/div/main/div/article/div/div/div/div/div/div/div/div[5]/div[2]/div/div/div[1]/div[1]/div[1]/div[1]/div/a')
exception_page.click()

time.sleep(3)

exceptionName=[]
except_tag=driver.find_elements(By.XPATH,'//*[@id="post-1953"]/div/div/p/strong')
try:
    for i in except_tag[0:41]:
        e_tag=i.text.split(".")
        exceptionName.append(e_tag[1].replace(":",""))
except NoSuchElementException:
    exceptionName.append("-")
    
    
description=[]
description_tag=driver.find_elements(By.XPATH,'//*[@id="post-1953"]/div/div/p')
try:
    for i in description_tag[0:41]:
        d_text=i.text.split(":")
        description.append(d_text[1])
except NoSuchElementException:
    description.append("-")
    
driver.close()

Excecption_details=pd.DataFrame({'Exception Name':exceptionName,'Exception Description':description})
Excecption_details

,Exception Name,Exception Description
0,ElementNotVisibleException,This type of Selenium exception occurs when a...
1,ElementNotSelectableException,This Selenium exception occurs when an elemen...
2,NoSuchElementException,This Exception occurs if an element could not...
3,NoSuchFrameException,This Exception occurs if the frame target to ...
4,NoAlertPresentException,This Exception occurs when you switch to no p...
5,NoSuchWindowException,This Exception occurs if the window target to...
6,StaleElementReferenceException,This Selenium exception occurs happens when t...
7,SessionNotFoundException,The WebDriver is acting after you quit the br...
8,TimeoutException,Thrown when there is not enough time for a co...
9,WebDriverException,This Exception takes place when the WebDriver...
10,ConnectionClosedException,This type of Exception takes place when there...
11,ElementClickInterceptedException,The command may not be completed as the eleme...
12,ElementNotInteractableException,This Selenium exception is thrown when any el...
13,ErrorInResponseException,This happens while interacting with the Firef...
14,ErrorHandler,Exception is used as a placeholder in case if...
15,ImeActivationFailedException,This expectation will occur when IME engine a...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certi...
18,InvalidArgumentException,It occurs when an argument does not belong to...
19,InvalidCookieDomainException,This happens when you try to add a cookie und...
20,InvalidCoordinatesException,This type of Exception matches an interacting...
21,InvalidElementStateException,It occurs when command can’t be finished when...
22,InvalidSessionIdException,This Exception took place when the given sess...
23,InvalidSwitchToTargetException,This occurs when the frame or window target t...
24,JavascriptException,This issue occurs while executing JavaScript ...
25,JsonException,It occurs when you afford to get the session ...
26,NoSuchAttributeException,This kind of Exception occurs when the attrib...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the ...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching...
30,NotFoundException,This Exception is a subclass of WebDriverExce...
31,RemoteDriverServerException,This Selenium exception is thrown when the se...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be su...
34,UnableToSetCookieException,This occurs if a driver is unable to set a co...
35,UnexpectedTagNameException,Happens if a support class did not get a web ...
36,UnhandledAlertException,This expectation occurs when there is an aler...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an ...
38,UnknownMethodException,This Exception happens when the requested com...
39,UnreachableBrowserException,This Exception occurs only when the browser i...
40,UnsupportedCommandException,This occurs when remote WebDriver doesn’t sen...

# 4. Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/

You have to find following details:<br>
A) Rank<br>
B) State<br>
C) GSDP(18-19)<br>
D) GSDP(17-18)<br>
E) Share(2017)<br>
F) GDP($ billion)<br>
Note: - From statisticstimes home page you have to reach to economy page through code.

In [75]:
url='https://www.statisticstimes.com'
driver=webdriver.Chrome(r"chromedriver.exe")
driver.maximize_window()
driver.get(url)

time.sleep(3)
economy = driver.find_element(By.XPATH,"//*[@id='top']/div[2]/div[2]/button")
try:
    economy.click()
    driver.find_element(By.XPATH,'/html[1]/body[1]/div[2]/div[1]/div[2]/div[2]/div[1]/a[3]').click()
except ElementNotInteractableException:
    driver.get(economy.get_attribute('href'))
    
time.sleep(3)
try:
    ads=driver.find_element(By.XPATH,'//div[@class="ns-dbyfr-e-19 button-common close-button"]')
    ads.click()
    gdp = driver.find_element(By.XPATH,"/html/body/div[2]/div[2]/div[2]/ul/li[1]/a").click()
except NoSuchElementException:
    driver.get('https://www.statisticstimes.com/economy/india/indian-states-gdp.php')
    
time.sleep(3)


rank=[]
state=[]
GSDP_19_20=[]
GSDP_18_19=[]
share_18_19=[]
GDP_billion=[]


state_rank=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[1]')
try:
    for i in state_rank:
        rank.append(i.text)
except NoSuchElementException:
    rank.append("-")
    
state_name=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[2]')
try:
    for i in state_name:
        state.append(i.text)
except NoSuchElementException:
    state.append("-")
        
GSDP_19_20_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[3]')
try:
    for i in GSDP_19_20_tag:
        GSDP_19_20.append(i.text)
except NoSuchElementException:
    GSDP_19_20.append("-")
    
GSDP_18_19_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[4]')
try:
    for i in GSDP_18_19_tag:
        GSDP_18_19.append(i.text)
except NoSuchElementException:
    GSDP_18_19.append("-")
    
share_18_19_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[5]')
try:
    for i in share_18_19_tag:
        share_18_19.append(i.text)
except NoSuchElementException:
    share_18_19.append("-")
    
GDP_billion_tag=driver.find_elements(By.XPATH,'//*[@id="table_id"]/tbody/tr/td[6]')
try:
    for i in GDP_billion_tag:
        GDP_billion.append(i.text)
except NoSuchElementException:
    GDP_billion.append("-")
    
    
driver.close()

StateWise_GDP=pd.DataFrame({'Rank':rank,'State':state,'GSDP 19-20':GSDP_19_20,'GSDP 18-19':GSDP_18_19,'Share 18-19':share_18_19,'GDP billion':GDP_billion})
StateWise_GDP

,Rank,State,GSDP 19-20,GSDP 18-19,Share 18-19,GDP billion
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

# 5. Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:<br>
A) Repository title<br>
B) Repository description<br>
C) Contributors count<br>
D) Language used<br>

In [86]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url="https://github.com/"
driver.get(url)


# Clicking on explore sub menu
explore = driver.find_element(By.XPATH,'/html[1]/body[1]/div[1]/header[1]/div[1]/div[2]/div[1]/nav[1]/ul[1]/li[3]/button[1]')
try:
    explore.click()
    time.sleep(5)
except ElementNotInteractableException:
    driver.get(explore.get_attribute('href'))

    
# Clicking on Trending under explore sub menu
trending = driver.find_element(By.XPATH,'//*[@href="/trending"]')
try:
    driver.get(trending.get_attribute('href'))
except ElementNotInteractableException:
    driver.get(trending.get_attribute('href'))
    
Repository_title= []
Repository_description= []
Contributors_count= []
Language_used= []
urls=[]

#Scraping title of repository
try:
    Repository_title_tag=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/h1/a')
    for i in Repository_title_tag:
        Repository_title.append(i.text)
except NoSuchElementException:
    Repository_title.append('-')
    
#Scraping description of Repository
try:
    description=driver.find_elements(By.XPATH,'//article[@class="Box-row"]/p')
    for i in description:
        Repository_description.append(i.text)
except NoSuchElementException:
    Repository_description.append('-')

for i in [Repository_title_tag,description]:
    for j in i:
        if i ==Repository_title_tag:
            Repository_title.append(j.text)
            urls.append(j.get_attribute('href'))
        if i==description:
            Repository_description.append(j.text)
    
for url in urls:
    driver.get(url)
    driver.implicitly_wait(3)
    div_list=driver.find_elements(By.XPATH,'//div[@class="BorderGrid BorderGrid--spacious"]/div')
    #Scraping count of contributors   
    try:
        Contributors_count.append(((div_list[-2].text).split())[1])
    except:
        Contributors_count.append('-')
    #Scraping used language
    try:
        Language_used.append(((div_list[-1].text).split())[1::2])
    except:
        Language_used.append('-')
        
driver.close()


#creating Dataframe
github_trending=pd.DataFrame({"Repository_title":Repository_title[:25],"Repository_description":Repository_description[:25],"Language_used":Language_used[:25],"Contributors_count":Contributors_count[:25]})
github_trending

,Repository_title,Repository_description,Language_used,Contributors_count
0,AUTOMATIC1111 / stable-diffusion-webui,Stable Diffusion web UI,"[Python, JavaScript, Batchfile, CSS]",22
1,sd-webui / stable-diffusion-webui,Stable Diffusion web UI,"[Python, Other]",49
2,somebasj / ParallelsDesktopCrack,Parallels Desktop for mac Crack,[Shell],2
3,AykutSarac / jsoncrack.com,🔮 Seamlessly visualize your JSON data instantl...,"[TypeScript, Other]",13
4,surrealdb / surrealdb,"A scalable, distributed, collaborative, docume...","[Rust, Other]",11
5,yt-dlp / yt-dlp,A youtube-dl fork with additional features and...,"[Python, Other]","1,013"
6,termux / termux-app,Termux - a terminal emulator application for A...,"[Java, C++, Other]",61
7,TheAlgorithms / Python,All Algorithms implemented in Python,[Python],829
8,mtdvio / every-programmer-should-know,A collection of (mostly) technical things ever...,"[70, 59]",-
9,Alcibiades-Capital / mev_bundle_generator,A MEV bundle generator written in Rust,"[Rust, Solidity]",-
10,meienberger / runtipi,⛺️ Tipi is a homeserver for everyone! One comm...,"[TypeScript, Shell, JavaScript, Other]",10
11,hiroi-sora / Umi-OCR,OCR批量图片转文字识别软件，带界面，离线运行。可排除图片中水印区域的干扰，提取干净的文本。...,[Python],-
12,karpathy / nn-zero-to-hero,Neural Networks: Zero to Hero,"[Jupyter, 100.0%]",-
13,benphelps / homepage,A highly customizable homepage (or startpage /...,"[JavaScript, CSS, Dockerfile]",15
14,jaakkopasanen / AutoEq,Automatic headphone equalization from frequenc...,"[Jupyter, 94.5%, 5.5%]",17
15,NvChad / NvChad,An attempt to make neovim cli functional like ...,[Lua],126
16,mdn / content,The content behind MDN Web Docs,[Markdown],"2,610"
17,mantinedev / mantine,React components library with native dark them...,"[TypeScript, Other]",226
18,vinta / awesome-python,"A curated list of awesome Python frameworks, l...","[Python, Makefile]",394
19,microsoft / PowerToys,Windows system utilities to maximize productivity,"[C#, C++, C, PowerShell, HTML, HLSL]",304
20,apache / incubator-streampark,"StreamPark, Make stream processing easier! eas...","[Java, Scala, Vue, JavaScript, Perl, Shell, Ot...",67
21,34306 / TrollStoreiPA,"This repo saved iPA for TrollStore, work as ja...","[No, published]",1
22,ventoy / Ventoy,A new bootable USB solution.,"[C, Shell, HTML, C++, CSS, Makefile, Other]",73
23,ziglang / zig,General-purpose programming language and toolc...,"[Zig, C++, C, JavaScript, CMake, Shell, Other]",553
24,openwrt / openwrt,This repository is a mirror of https://git.ope...,"[C, Makefile, Shell, Perl, Assembly, M4, Other]",879

# 6. Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:<br>
A) Song name<br>
B) Artist name<br>
C) Last week rank<br>
D) Peak rank<br>
E) Weeks on board<br>
Note: - From the home page you have to click on the charts option then hot 100-page link through code.<br>

In [113]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url='https://www.billboard.com'
driver.get(url)
time.sleep(2)

nav=driver.find_element(By.XPATH,"/html/body/div[3]/header/div[1]/div/div/div[1]/button")
nav.click()

time.sleep(5)

#Hot 100 songs
hot_100=driver.find_element(By.XPATH,'/html[1]/body[1]/div[3]/div[6]/div[1]/div[1]/div[1]/ul[1]/li[1]/ul[1]/li[2]/a[1]')
hot_100.click()

Name=[]
Artist=[]
rank=[]

#Scraping name
Name_tag=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 u-font-size-23@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-245 u-max-width-230@tablet-only u-letter-spacing-0028@tablet']")
for i in Name_tag:
    Name.append(i.text)

#Scraping artist
Artist_tag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only u-font-size-20@tablet']")
for i in Artist_tag:
    Artist.append(i.text)

#Scraping rank
rankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-bold-l a-font-primary-m@mobile-max u-font-weight-normal@mobile-max lrv-u-padding-tb-050@mobile-max u-font-size-32@tablet']")
for i in rankTag[:3]:
    rank.append(i.text )
    
#Scraping name
Rank=[]
nameTag=driver.find_elements(By.XPATH,"//h3[@class='c-title  a-no-trucate a-font-primary-bold-s u-letter-spacing-0021 lrv-u-font-size-18@tablet lrv-u-font-size-16 u-line-height-125 u-line-height-normal@mobile-max a-truncate-ellipsis u-max-width-330 u-max-width-230@tablet-only']")
for i in nameTag:
    Name.append(i.text )

#Scraping artist
artistTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-no-trucate a-font-primary-s lrv-u-font-size-14@mobile-max u-line-height-normal@mobile-max u-letter-spacing-0021 lrv-u-display-block a-truncate-ellipsis-2line u-max-width-330 u-max-width-230@tablet-only']")
for i in artistTag:
    Artist.append(i.text )

#Scraping rank
RankTag=driver.find_elements(By.XPATH,"//span[@class='c-label  a-font-primary-m lrv-u-padding-tb-050@mobile-max']")
for i in RankTag:
    Rank.append(i.text)
    
    
# removing ''
for i in Rank:
    if i=='':
        Rank.remove(i)
        
# slicing Data
last_week_rank=Rank[0::3]
last_week_rank.insert(0,rank[0])
peak_rank=Rank[1::3]
peak_rank.insert(0,rank[1])
weeks_on_board=Rank[2::3]
weeks_on_board.insert(0,rank[2])

driver.close()
# Create Dataframe
songs_top=pd.DataFrame({"Name":Name[:100],"Artist":Artist[:100],"Last Week Rank":last_week_rank[0:100],"Peak Rank":peak_rank[0:100],"Weeks On Board":weeks_on_board[0:100]})
songs_top

,Name,Artist,Last Week Rank,Peak Rank,Weeks On Board
0,As It Was,Harry Styles,1,1,22
1,Bad Habit,Steve Lacy,3,2,9
2,About Damn Time,Lizzo,2,1,20
3,Running Up That Hill (A Deal With God),Kate Bush,4,3,34
4,Sunroof,Nicky Youre & dazy,6,5,14
...,...,...,...,...,...
95,Thought You Should Know,Morgan Wallen,66,65,11
96,2 Be Loved (Am I Ready),Lizzo,,,
97,Wait In The Truck,HARDY Featuring Lainey Wilson,68,18,17
98,La Corriente,Bad Bunny & Tony Dize,,,
99,"Bzrp Music Sessions, Vol. 52",Bizarrap & Quevedo,73,63,22

# 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:<br>
A) Name<br>
B) Designation<br>
C) Company<br>
D) Skills they hire for<br>
E) Location<br>
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [148]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url='https://www.naukri.com/hr-recruiters-consultants'
driver.get(url)

designation_text='Data science'
designation_search=driver.find_element(By.XPATH,'//input[@class="sugInp"]')
designation_search.send_keys(designation_text)

search=driver.find_element(By.XPATH,'//button[@id="qsbFormBtn"]')
search.click()

name=[]
designation=[]
company=[]
skills=[]
location=[]


r_name=driver.find_elements(By.XPATH,'//span[@class="fl ellipsis"]')
try:
    for i in r_name:
        name.append(i.text)
except:
    name.append("-")
    
r_designation=driver.find_elements(By.XPATH,'//span[@class="ellipsis clr"]')
try:
    for i in r_designation:
        designation.append(i.text)
except:
    designation.append("-")
    
r_company=driver.find_elements(By.XPATH,"//a[@class='ellipsis']")[1::2]
try:
    for i in r_company:
        company.append(i.text)
except:
    company.append("-")


r_skills=driver.find_elements(By.XPATH,'//div[@class="hireSec highlightable"]')
try:
    for i in r_skills:
        skills.append(i.text)
except:
    skills.append("-")
    
r_location=driver.find_elements(By.XPATH,'//small[@class="ellipsis"]')
try:
    for i in r_location:
        if i.text == None:
            location.append("--")
        else:
            location.append(i.text)
except:
    location.append("--") 
    
driver.close()
#creating Dataframe
recruiters=pd.DataFrame({"Name":name[:48],"Designation":designation[:48],"Company":company[:48],"Skills":skills[:48],"Location":location})
recruiters

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehousing, ET...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
14,Vaishnavi Kudalkar,HR Executive,Codeachive learning,"Data Science, Python, Data Analytics",Mumbai
15,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front End, Busin...",Chandigarh
18,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure, Power B...",Pune
19,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
20,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
21,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
22,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
23,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
24,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
25,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
26,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
27,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
28,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
29,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
30,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Bengaluru / Bangalore
31,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, Digital ...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Hyderabad / Secunderabad
33,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Center, S...",Mumbai
34,Daniel Vaz,Partner,Aquis Search,"c++, Core Java, kdb, high frequency trading, h...",Bengaluru / Bangalore
35,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, analyti...",New Delhi
36,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
37,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
38,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
39,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
40,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
41,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
42,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
43,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
44,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
45,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
46,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
47,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai

# 8. Scrape the details of Highest selling novels.
Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare/<br>
You have to find the following details:<br>
A) Book name<br>
B) Author name<br>
C) Volumes sold<br>
D) Publisher<br>
E) Genre<br>

In [162]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]

b_name=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[2]')
try:
    for i in b_name:
        book_name.append(i.text)
except:
    book_name.append("-")
    
a_name=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[3]')
try:
    for i in a_name:
        author_name.append(i.text)
except:
    author_name.append("-")
    
v_sold=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[4]')
try:
    for i in v_sold:
        volumes_sold.append(i.text)
except:
    volumes_sold.append("-")
    
b_publisher=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[5]')
try:
    for i in b_publisher:
        publisher.append(i.text)
except:
    publisher.append("-")
    
b_genre=driver.find_elements(By.XPATH,'/html[1]/body[1]/div[1]/div[2]/div[2]/div[1]/div[2]/div[1]/table[1]/tbody[1]/tr/td[6]')
try:
    for i in b_genre:
        genre.append(i.text)
except:
    genre.append("-")
    
driver.close()
Highest_selling_novels=pd.DataFrame({'Book Name':book_name,'Author Name':author_name,'Volumes sold':volumes_sold,'Publisher':publisher,'Genre':genre})
Highest_selling_novels

,Book Name,Author Name,Volumes sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# 9. Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/<br>
You have to find the following details:<br>
A) Name<br>
B) Year span<br>
C) Genre<br>
D) Run time<br>
E) Ratings<br>
F) Votes<br>

In [187]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url='https://www.imdb.com/list/ls095964455'
driver.get(url)

name=[]
year=[]
genre=[]
run_time=[]
ratings=[]
votes=[]

s_name=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/a')
try:
    for i in s_name:
        name.append(i.text)
except:
    name.append("--") 
    
s_year=driver.find_elements(By.XPATH,'//h3[@class="lister-item-header"]/span[2]')
try:
    for i in s_year:
        year.append(i.text)
except:
    year.append("--")   

s_genre=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[5]')
try:
    for i in s_genre:
        genre.append(i.text)
except:
    genre.append("--")
    
r_time=driver.find_elements(By.XPATH,'//p[@class="text-muted text-small"]/span[3]')
try:
    for i in r_time:
        run_time.append(i.text)
except:
    run_time.append("--")   

rating=driver.find_elements(By.XPATH,'//div[@class="ipl-rating-widget"]/div/span[2]')
try:
    for i in rating:
        ratings.append(i.text)
except:
    ratings.append("--")
    
vote=driver.find_elements(By.XPATH,'//span[@name="nv"]')
try:
    for i in vote:
        votes.append(i.text)
except:
    votes.append("--")
    
driver.close()
tv_series=pd.DataFrame({'Name':name,'Year Span':year,'Genre':genre,'Run Time':run_time,'Ratings':ratings,'Votes':votes})
tv_series

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.2,"2,046,719"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"1,143,245"
2,The Walking Dead,(2010–2022),"Drama, Horror, Thriller",44 min,8.1,"967,525"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.5,"288,651"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"248,237"
...,...,...,...,...,...,...
95,Reign,(2013–2017),Drama,42 min,7.4,"49,528"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"60,530"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"194,678"
98,Scream: The TV Series,(2015–2019),"Comedy, Crime, Drama",45 min,7.1,"41,004"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"236,164"

# 10. Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:<br>
A) Dataset name<br>
B) Data type<br>
C) Task<br>
D) Attribute type<br>
E) No of instances<br>
F) No of attribute<br>
G) Year<br>
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [190]:
driver=webdriver.Chrome('chromedriver.exe')
driver.maximize_window()
url='https://archive.ics.uci.edu/ml/index.php'
driver.get(url)

#clicking on view all Dataset
Dataset= driver.find_elements(By.XPATH,"//span[@class='normal']/b/a")[0].get_attribute('href')
driver.get(Dataset)

# Scraping dataset
data=[]
try:
    data_tag=driver.find_elements(By.XPATH,"//td//p[@class='normal']")
    for i in data_tag[8:4362]:
        data.append(i.text )
except:
    data.append('-')
    
#slicing dataset
Dataset_name=data[::7]
Data_type=data[1::7]
Task=data[2::7]
Attribute_type=data[3::7]
instances=data[4::7]
attribute=data[5::7]
Year=data[6::7]

driver.close()
#creating Dataframe
Datasets= pd.DataFrame({"Dataset name":Dataset_name,"Data type":Data_type,"Task":Task,"Attribute type":Attribute_type,"Instances":instances,"Attribute":attribute,"Year":Year})
Datasets

,Dataset name,Data type,Task,Attribute type,Instances,Attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
617,Influenza outbreak event prediction via Twitte...,Multivariate,Classification,"Integer, Real",75840,525,2020
618,Turkish Music Emotion Dataset,Multivariate,Classification,"Integer, Real",400,50,2020
619,Maternal Health Risk Data Set,,Classification,,1014,7,2020
620,Room Occupancy Estimation,"Multivariate, Time-Series",Classification,Real,10129,16,2021
621,Image Recognition Task Execution Times in Mobi...,Univariate,Regression,Real,4000,2,2021