# Fake News Project

#### What is a Fake News?

Fake news's simple meaning is to incorporate information that leads people to the wrong path. Nowadays fake news spreading like water and people share this information without verifying it. This is often done to further or impose certain ideas and is often achieved with political agendas.

For media outlets, the ability to attract viewers to their websites is necessary to generate online advertising revenue. So it is necessary to detect fake news.

### Importing Required data-set & library

In [54]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')

In [2]:
True_news = pd.read_csv('True.csv')
Fake_news = pd.read_csv('Fake.csv')

In [3]:
True_news['label'] = 0

In [4]:
Fake_news['label'] = 1

In [5]:
True_news.head()

,title,text,subject,date,label
0,"As U.S. budget fight looms, Republicans flip t...",WASHINGTON (Reuters) - The head of a conservat...,politicsNews,"December 31, 2017",0
1,U.S. military to accept transgender recruits o...,WASHINGTON (Reuters) - Transgender people will...,politicsNews,"December 29, 2017",0
2,Senior U.S. Republican senator: 'Let Mr. Muell...,WASHINGTON (Reuters) - The special counsel inv...,politicsNews,"December 31, 2017",0
3,FBI Russia probe helped by Australian diplomat...,WASHINGTON (Reuters) - Trump campaign adviser ...,politicsNews,"December 30, 2017",0
4,Trump wants Postal Service to charge 'much mor...,SEATTLE/WASHINGTON (Reuters) - President Donal...,politicsNews,"December 29, 2017",0

In [6]:
Fake_news.head()

,title,text,subject,date,label
0,Donald Trump Sends Out Embarrassing New Year’...,Donald Trump just couldn t wish all Americans ...,News,"December 31, 2017",1
1,Drunk Bragging Trump Staffer Started Russian ...,House Intelligence Committee Chairman Devin Nu...,News,"December 31, 2017",1
2,Sheriff David Clarke Becomes An Internet Joke...,"On Friday, it was revealed that former Milwauk...",News,"December 30, 2017",1
3,Trump Is So Obsessed He Even Has Obama’s Name...,"On Christmas day, Donald Trump announced that ...",News,"December 29, 2017",1
4,Pope Francis Just Called Out Donald Trump Dur...,Pope Francis used his annual Christmas Day mes...,News,"December 25, 2017",1

In [7]:
dataset1 = True_news[['text','label']]
dataset2 = Fake_news[['text','label']]

In [8]:
dataset = pd.concat([dataset1 , dataset2])

#### Shape

In [9]:
dataset.shape

(44898, 2)

### Null values

In [11]:
dataset.isnull().sum() # no null values

text     0
label    0
dtype: int64

### Balanced or Unbalanced dataset

In [12]:
dataset['label'].value_counts()

1    23481
0    21417
Name: label, dtype: int64

In [13]:
dataset1.shape # true news

(21417, 2)

In [14]:
dataset2.shape # fake news

(23481, 2)

### Shuffle or Resample

In [15]:
dataset = dataset.sample(frac = 1)

In [16]:
dataset.head(20)

                                                    text  label
17928  Pittsburgh Steelers players were absent from t...      1
18923  Nassau County cops busted a Long Island man wh...      1
12804  Wow! Talk about putting our nation s security ...      1
11157  Is it possible the  good  Dr. Dao was simply s...      1
20907  Thus the big win for Donald Trump in blue stat...      1
14221  Craig s list ads offering to pay protesters $1...      1
2350   WASHINGTON (Reuters) - President Donald Trump ...      0
6455   SHANGHAI/TAIPEI (Reuters) - State-run Chinese ...      0
19053  In an email sent on April 15, 2011, our upstan...      1
19604  Approximately one year ago, my business partne...      1
4191   SEOUL (Reuters) - North Korea put on a musical...      0
17539  Conservative Hollywood actor, James Woods, is ...      1
22798  Undoubtedly, we are living in an age of univer...      1
20439  The left wants to change  hurtful  words to wh...      1
21354   So, if the climate scare-mongers can t fright...      1
19048  ERBIL/SULAIMANIYA, Iraq (Reuters) - Kurds vote...      0
21783  Local residents supported the flag but nationa...      1
22260  Tune in to the Alternate Current Radio Network...      1
7494   Chris Christie just had yet another terrible d...      1
20144  WASHINGTON (Reuters) - African countries shoul...      0

In [17]:
import nltk

In [18]:
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

In [19]:
ps = WordNetLemmatizer()

In [20]:
stopwords = stopwords.words('english')

In [21]:
nltk.download('wordnet')

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\rajsh\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

True

In [22]:
def cleaning_data(row):
    
    # convert text to into lower case
    row = row.lower() 
    
    # this line of code only take words from text and remove number and special character using RegX
    row = re.sub('[^a-zA-Z]' , ' ' , row)
    
    # split the data and make token.
    token = row.split() 
    
    # lemmatize the word and remove stop words like a, an , the , is ,are ...
    news = [ps.lemmatize(word) for word in token if not word in stopwords]  
    
    # finaly join all the token with space
    cleanned_news = ' '.join(news) 
    
    # return cleanned data
    return cleanned_news

In [23]:
dataset['text'] = dataset['text'].apply(lambda x : cleaning_data(x))

In [24]:
dataset.isnull().sum()

text     0
label    0
dtype: int64

In [25]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [26]:
vectorizer = TfidfVectorizer(max_features = 50000 , lowercase=False , ngram_range=(1,2))

In [27]:
dataset.shape

(44898, 2)

In [28]:
X = dataset.iloc[:35000,0]
y = dataset.iloc[:35000,1]

In [29]:
X.head()

17928    pittsburgh steelers player absent sideline rem...
18923    nassau county cop busted long island man previ...
12804    wow talk putting nation security risk nation c...
11157    possible good dr dao simply setting benefactor...
20907    thus big win donald trump blue state michigan ...
Name: text, dtype: object

In [30]:
y.head()

17928    1
18923    1
12804    1
11157    1
20907    1
Name: label, dtype: int64

In [31]:
from sklearn.model_selection import train_test_split
train_data , test_data , train_label , test_label = train_test_split(X , y , test_size = 0.2 ,random_state = 0)

In [32]:
vec_train_data = vectorizer.fit_transform(train_data)

In [33]:
vec_train_data = vec_train_data.toarray()

In [34]:
train_data.shape , test_data.shape

((28000,), (7000,))

In [35]:
vec_test_data = vectorizer.transform(test_data).toarray()

In [36]:
vec_train_data.shape , vec_test_data.shape

((28000, 50000), (7000, 50000))

In [37]:
train_label.value_counts() # balanced partition

1    14666
0    13334
Name: label, dtype: int64

In [38]:
test_label.value_counts() # balanced partition

1    3644
0    3356
Name: label, dtype: int64

In [60]:
training_data = pd.DataFrame(vec_train_data , columns=vectorizer.get_feature_names())
testing_data = pd.DataFrame(vec_test_data , columns= vectorizer.get_feature_names())

In [61]:
from sklearn.naive_bayes import MultinomialNB

In [62]:
from sklearn.metrics import accuracy_score,classification_report

In [63]:
clf = MultinomialNB()

In [64]:
clf.fit(training_data, train_label)
y_pred  = clf.predict(testing_data)

### MultinomialNB

In [65]:
pd.Series(y_pred).value_counts()

1    3696
0    3304
dtype: int64

In [66]:
test_label.value_counts()

1    3644
0    3356
Name: label, dtype: int64

In [67]:
print(classification_report(test_label , y_pred))

              precision    recall  f1-score   support

           0       0.96      0.94      0.95      3356
           1       0.95      0.96      0.95      3644

    accuracy                           0.95      7000
   macro avg       0.95      0.95      0.95      7000
weighted avg       0.95      0.95      0.95      7000

Now predict on both train set

In [68]:
y_pred_train = clf.predict(training_data)
print(classification_report(train_label , y_pred_train))

              precision    recall  f1-score   support

           0       0.96      0.96      0.96     13334
           1       0.96      0.96      0.96     14666

    accuracy                           0.96     28000
   macro avg       0.96      0.96      0.96     28000
weighted avg       0.96      0.96      0.96     28000

In [69]:
accuracy_score(train_label , y_pred_train)

0.95925

In [70]:
accuracy_score(test_label , y_pred)

0.9505714285714286

In [71]:
news = cleaning_data(str("Imposters posing as army personnel on the social media have been called out by the Indian Army as false news and disinformation."))

In [72]:
single_prediction = clf.predict(vectorizer.transform([news]).toarray())
single_prediction

array([1], dtype=int64)

### Save the Model

In [73]:
import joblib

In [74]:
joblib.dump(clf , 'model.pkl')

['model.pkl']

In [75]:
model = joblib.load('model.pkl')