# Q1- Write a python program to display all the header tags from wikipedia.org.

In [2]:
#importing required packages

import pandas as pd

from bs4 import BeautifulSoup
import requests
import re

In [3]:
wiki=requests.get('https://en.wikipedia.org/wiki/Main_Page') #Checking response status
wiki

In [4]:
WikiPageContent=BeautifulSoup(wiki.content) #getting Page content

In [5]:
wiki_header=[] #Creating a blank arrayList
for i in WikiPageContent.find_all('span',class_='mw-headline'):
    wiki_header.append(i.text)
wiki_header

['Welcome to Wikipedia',
 "From today's featured article",
 'Did you know\xa0...',
 'In the news',
 'On this day',
 "Today's featured picture",
 'Other areas of Wikipedia',
 "Wikipedia's sister projects",
 'Wikipedia languages']

In [6]:
WikiHeader=pd.DataFrame({'Wikipedia Page Headers':wiki_header})
WikiHeader

          Wikipedia Page Headers
0           Welcome to Wikipedia
1  From today's featured article
2               Did you know ...
3                    In the news
4                    On this day
5       Today's featured picture
6       Other areas of Wikipedia
7    Wikipedia's sister projects
8            Wikipedia languages

# Q2-Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame.

In [7]:
Imdb_url=requests.get('https://www.imdb.com/list/ls055592025/')
Imdb_url

In [8]:
Imdb_Page=BeautifulSoup(Imdb_url.content)

In [9]:
movie_name=[] #List to extract all top 100 movies names

for i in Imdb_Page.find_all('h3',class_='lister-item-header'):
    movie_name.append(i.text.split(".")[1].split("(")[0].strip())
    
movie_name

['The Godfather',
 'The Shawshank Redemption',
 "Schindler's List",
 'Raging Bull',
 'Casablanca',
 'Citizen Kane',
 'Gone with the Wind',
 'The Wizard of Oz',
 "One Flew Over the Cuckoo's Nest",
 'Lawrence of Arabia',
 'Vertigo',
 'Psycho',
 'The Godfather Part II',
 'On the Waterfront',
 'Sunset Blvd',
 'Forrest Gump',
 'The Sound of Music',
 '12 Angry Men',
 'West Side Story',
 'Star Wars',
 '2001: A Space Odyssey',
 'E',
 'The Silence of the Lambs',
 'Chinatown',
 'The Bridge on the River Kwai',
 "Singin' in the Rain",
 "It's a Wonderful Life",
 'Dr',
 'Some Like It Hot',
 'Ben-Hur',
 'Apocalypse Now',
 'Amadeus',
 'The Lord of the Rings: The Return of the King',
 'Gladiator',
 'Titanic',
 'From Here to Eternity',
 'Saving Private Ryan',
 'Unforgiven',
 'Raiders of the Lost Ark',
 'Rocky',
 'A Streetcar Named Desire',
 'The Philadelphia Story',
 'To Kill a Mockingbird',
 'An American in Paris',
 'The Best Years of Our Lives',
 'My Fair Lady',
 'A Clockwork Orange',
 'Doctor Zhivago',
 'The Searchers',
 'Jaws',
 'Patton',
 'Butch Cassidy and the Sundance Kid',
 'The Treasure of the Sierra Madre',
 'Il buono, il brutto, il cattivo',
 'The Apartment',
 'Platoon',
 'High Noon',
 'Braveheart',
 'Dances with Wolves',
 'Jurassic Park',
 'The Exorcist',
 'The Pianist',
 'Goodfellas',
 'The Deer Hunter',
 'All Quiet on the Western Front',
 'Bonnie and Clyde',
 'The French Connection',
 'City Lights',
 'It Happened One Night',
 'A Place in the Sun',
 'Midnight Cowboy',
 'Mr',
 'Rain Man',
 'Annie Hall',
 'Fargo',
 'Giant',
 'Shane',
 'The Grapes of Wrath',
 'The Green Mile',
 'Close Encounters of the Third Kind',
 'Nashville',
 'Network',
 'The Graduate',
 'American Graffiti',
 'Pulp Fiction',
 'Terms of Endearment',
 'Good Will Hunting',
 'The African Queen',
 'Stagecoach',
 'Mutiny on the Bounty',
 'The Great Dictator',
 'Double Indemnity',
 'The Maltese Falcon',
 'Wuthering Heights',
 'Taxi Driver',
 'Rear Window',
 'The Third Man',
 'Rebel Without a Cause',
 'North by Northwest',
 'Yankee Doodle Dandy']

In [10]:
movie_year=[] #List to extract all top 100 movies years
for i in Imdb_Page.find_all('h3',class_='lister-item-header'):
    movie_year.append(i.text.split("(")[1].replace(")","").strip())
movie_year

['1972',
 '1994',
 '1993',
 '1980',
 '1942',
 '1941',
 '1939',
 '1939',
 '1975',
 '1962',
 '1958',
 '1960',
 '1974',
 '1954',
 '1950',
 '1994',
 '1965',
 '1957',
 '1961',
 '1977',
 '1968',
 '1982',
 '1991',
 '1974',
 '1957',
 '1952',
 '1946',
 '1964',
 '1959',
 '1959',
 '1979',
 '1984',
 '2003',
 '2000',
 '1997',
 '1953',
 '1998',
 '1992',
 '1981',
 '1976',
 '1951',
 '1940',
 '1962',
 '1951',
 '1946',
 '1964',
 '1971',
 '1965',
 '1956',
 '1975',
 '1970',
 '1969',
 '1948',
 '1966',
 '1960',
 '1986',
 '1952',
 '1995',
 '1990',
 '1993',
 '1973',
 '2002',
 '1990',
 '1978',
 '1930',
 '1967',
 '1971',
 '1931',
 '1934',
 '1951',
 '1969',
 '1939',
 '1988',
 '1977',
 '1996',
 '1956',
 '1953',
 '1940',
 '1999',
 '1977',
 '1975',
 '1976',
 '1967',
 '1973',
 '1994',
 '1983',
 '1997',
 '1951',
 '1939',
 '1935',
 '1940',
 '1944',
 '1941',
 '1939',
 '1976',
 '1954',
 '1949',
 '1955',
 '1959',
 '1942']

In [11]:
movie_rating=[] #List to extract all top 100 movies rating

for i in Imdb_Page.find_all('div',class_="ipl-rating-widget"):
    movie_rating.append(i.text.strip().split()[0])
    
movie_rating

['9.2',
 '9.3',
 '9',
 '8.2',
 '8.5',
 '8.3',
 '8.2',
 '8.1',
 '8.7',
 '8.3',
 '8.3',
 '8.5',
 '9',
 '8.1',
 '8.4',
 '8.8',
 '8.1',
 '9',
 '7.6',
 '8.6',
 '8.3',
 '7.9',
 '8.6',
 '8.2',
 '8.2',
 '8.3',
 '8.6',
 '8.4',
 '8.2',
 '8.1',
 '8.5',
 '8.4',
 '9',
 '8.5',
 '7.9',
 '7.6',
 '8.6',
 '8.2',
 '8.4',
 '8.1',
 '7.9',
 '7.9',
 '8.3',
 '7.2',
 '8.1',
 '7.8',
 '8.3',
 '7.9',
 '7.9',
 '8.1',
 '7.9',
 '8',
 '8.2',
 '8.8',
 '8.3',
 '8.1',
 '8',
 '8.4',
 '8',
 '8.2',
 '8.1',
 '8.5',
 '8.7',
 '8.1',
 '8.1',
 '7.7',
 '7.7',
 '8.5',
 '8.1',
 '7.7',
 '7.8',
 '8.1',
 '8',
 '8',
 '8.1',
 '7.6',
 '7.6',
 '8.1',
 '8.6',
 '7.6',
 '7.7',
 '8.1',
 '8',
 '7.4',
 '8.9',
 '7.4',
 '8.3',
 '7.7',
 '7.8',
 '7.7',
 '8.4',
 '8.3',
 '8',
 '7.5',
 '8.2',
 '8.5',
 '8.1',
 '7.6',
 '8.3',
 '7.6']

In [12]:
Imbd=pd.DataFrame({'Movie Name':movie_name,'Year of release':movie_year,'Movie Rating':movie_rating})
Imbd

                  Movie Name Year of release Movie Rating
0              The Godfather            1972          9.2
1   The Shawshank Redemption            1994          9.3
2           Schindler's List            1993            9
3                Raging Bull            1980          8.2
4                 Casablanca            1942          8.5
..                       ...             ...          ...
95               Rear Window            1954          8.5
96             The Third Man            1949          8.1
97     Rebel Without a Cause            1955          7.6
98        North by Northwest            1959          8.3
99       Yankee Doodle Dandy            1942          7.6

[100 rows x 3 columns]

# Q3-Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame

In [13]:
Imdb_url2=requests.get('https://www.imdb.com/list/ls009997493/')
Imdb_url2

In [14]:
Imdb_Page2=BeautifulSoup(Imdb_url2.content)

In [15]:
movie_name2=[]
movie_year2=[]
movie_rating2=[]

for i in Imdb_Page2.find_all('h3',class_='lister-item-header'):
    movie_name2.append(i.text.split(".")[1].split("(")[0].strip())
    

for i in Imdb_Page2.find_all('h3',class_='lister-item-header'):
    movie_year2.append(i.text.split("(")[1].replace(")","").strip())
    
for i in Imdb_Page2.find_all('div',class_="ipl-rating-widget"):
    movie_rating2.append(i.text.strip().split()[0])
    
Imbd_hindi=pd.DataFrame({'Movie Name':movie_name2,'Year of release':movie_year2,'Movie Rating':movie_rating2})
Imbd_hindi

                Movie Name Year of release Movie Rating
0          Rang De Basanti            2006          8.1
1                 3 Idiots            2009          8.4
2         Taare Zameen Par            2007          8.3
3           Dil Chahta Hai            2001          8.1
4   Swades: We, the People            2004          8.1
..                     ...             ...          ...
95             Wake Up Sid            2009          7.6
96                Rangeela            1995          7.4
97     Shatranj Ke Khilari            1977          7.5
98      Pyaar Ka Punchnama            2011          7.6
99           Ek Hasina Thi            2004          7.5

[100 rows x 3 columns]

# Q4 Write s python program to display list of respected former presidents of India(i.e. Name , Term of office) from https://presidentofindia.nic.in/former-presidents.htm

In [16]:
rfp_india_url=requests.get('https://presidentofindia.nic.in/former-presidents.htm')
rfp_india_url

In [17]:
rfp_india_page=BeautifulSoup(rfp_india_url.content)

In [20]:
presidents_name=[]

for i in rfp_india_page.find_all('h3'):
    presidents_name.append(i.text.split("(")[0])
presidents_name

['Shri Ram Nath Kovind ',
 'Shri Pranab Mukherjee ',
 'Smt Pratibha Devisingh Patil ',
 'DR. A.P.J. Abdul Kalam ',
 'Shri K. R. Narayanan ',
 'Dr Shankar Dayal Sharma ',
 'Shri R Venkataraman ',
 'Giani Zail Singh ',
 'Shri Neelam Sanjiva Reddy ',
 'Dr. Fakhruddin Ali Ahmed ',
 'Shri Varahagiri Venkata Giri ',
 'Dr. Zakir Husain ',
 'Dr. Sarvepalli Radhakrishnan ',
 'Dr. Rajendra Prasad ']

In [21]:
presidents_term=[]

for i in rfp_india_page.find_all('p',class_=""):
    presidents_term.append(i.text.split(":")[1])

ind2remove=[1,3,5,7] ## Removing unwanted url from term of office

for i in sorted(ind2remove,reverse=True):
    del presidents_term[i]

presidents_term

[' 25 July, 2017 to 25 July, 2022 ',
 ' 25 July, 2012 to 25 July, 2017 ',
 ' 25 July, 2007 to 25 July, 2012 ',
 ' 25 July, 2002 to 25 July, 2007 ',
 ' 25 July, 1997 to 25 July, 2002 ',
 ' 25 July, 1992 to 25 July, 1997 ',
 ' 25 July, 1987 to 25 July, 1992 ',
 ' 25 July, 1982 to 25 July, 1987 ',
 ' 25 July, 1977 to 25 July, 1982 ',
 ' 24 August, 1974 to 11 February, 1977',
 ' 3 May, 1969 to 20 July, 1969 and 24 August, 1969 to 24 August, 1974',
 ' 13 May, 1967 to 3 May, 1969',
 ' 13 May, 1962 to 13 May, 1967',
 ' 26 January, 1950 to 13 May, 1962']

In [22]:
respected_former_presidents=pd.DataFrame({'President Name':presidents_name,'Term Of Office':presidents_term})
respected_former_presidents

,President Name,Term Of Office
0,Shri Ram Nath Kovind,"25 July, 2017 to 25 July, 2022"
1,Shri Pranab Mukherjee,"25 July, 2012 to 25 July, 2017"
2,Smt Pratibha Devisingh Patil,"25 July, 2007 to 25 July, 2012"
3,DR. A.P.J. Abdul Kalam,"25 July, 2002 to 25 July, 2007"
4,Shri K. R. Narayanan,"25 July, 1997 to 25 July, 2002"
5,Dr Shankar Dayal Sharma,"25 July, 1992 to 25 July, 1997"
6,Shri R Venkataraman,"25 July, 1987 to 25 July, 1992"
7,Giani Zail Singh,"25 July, 1982 to 25 July, 1987"
8,Shri Neelam Sanjiva Reddy,"25 July, 1977 to 25 July, 1982"
9,Dr. Fakhruddin Ali Ahmed,"24 August, 1974 to 11 February, 1977"
10,Shri Varahagiri Venkata Giri,"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
11,Dr. Zakir Husain,"13 May, 1967 to 3 May, 1969"
12,Dr. Sarvepalli Radhakrishnan,"13 May, 1962 to 13 May, 1967"
13,Dr. Rajendra Prasad,"26 January, 1950 to 13 May, 1962"

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

a) Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

b) Top 10 ODI Batsmen along with the records of their team and rating.

c) Top 10 ODI bowlers along with the records of their team and rating.

In [23]:
icc_batsmen=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi')
icc_team=requests.get('https://www.icc-cricket.com/rankings/mens/team-rankings/odi')
icc_bowler=requests.get('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

icc_batsmen
icc_team
icc_bowler

In [24]:
icc_batsmen=BeautifulSoup(icc_batsmen.content)
icc_team=BeautifulSoup(icc_team.content)
icc_bowler=BeautifulSoup(icc_bowler.content)

In [27]:
#Top 10 ODI Team
teamMatch=[]
teamPoint=[]
teamRating=[]

for i in icc_team.find_all('td',class_="rankings-block__banner--matches"):
    teamMatch.append(i.text)

for i in icc_team.find_all('td',class_="rankings-block__banner--points"):
    teamPoint.append(i.text)
    
for i in icc_team.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    teamRating.append(i.text.strip())    
    
for i in icc_team.find_all('tr',class_="table-body"):
    teamMatch.append(i.text.replace('\n'," ").replace('SA',"").replace('WI',"").replace('SL',"").strip().split()[3])
    
for i in icc_team.find_all('tr',class_="table-body"):
    teamPoint.append(i.text.replace('\n'," ").replace('SA',"").replace('WI',"").replace('SL',"").strip().split()[4])
        
for i in icc_team.find_all('tr',class_="table-body"):
    teamRating.append(i.text.replace('\n'," ").replace('SA',"").replace('WI',"").replace('SL',"").strip().split()[5])  
    


TeamRating=pd.DataFrame({'Match ':teamMatch[0:10],'Points ':teamPoint[0:10],'Rating ':teamRating[0:10]})
TeamRating

  Match  Points  Rating
0     16   2,051     128
1     27   3,226     119
2     28   3,085     110
3     19   2,005     106
4     23   2,325     101
5     21   2,111     101
6     27   2,639      98
7     29   2,658      92
8     38   2,621      69
9     18   1,238      69

In [28]:
#Top 10 ODI Batsmen
batsmenRating=[]

for i in icc_batsmen.find('div',class_="rankings-block__banner--rating"):
    batsmenRating.append(i.text)

for i in icc_batsmen.find_all('td',class_="table-body__cell u-text-right rating"):
    batsmenRating.append(i.text)


batsmenTeam=[]
batsmenTeam.append('PAK')
for i in icc_batsmen.find_all('span',class_="table-body__logo-text"):
    batsmenTeam.append(i.text)

df=pd.DataFrame.from_dict({'Team':batsmenTeam[0:10],'Rating':batsmenRating[0:10]},orient='index')
BatsMen=df.transpose()
BatsMen

  Team Rating
0  PAK    892
1  PAK    815
2   SA    789
3   SA    784
4  IND    767
5  IND    763
6   NZ    744
7  AUS    737
8  ENG    732
9  AUS    715

In [29]:
# Top 10 bowlers
bowler_Team=[]
bowler_Rating=[]


for i in icc_bowler.find_all('div',class_="rankings-block__banner--rating"):
    bowler_Rating.append(i.text)

for i in icc_bowler.find_all('td',class_="table-body__cell rating"):
    bowler_Rating.append(i.text)

for i in icc_bowler.find_all('div',class_="rankings-block__banner--nationality"):
    bowler_Team.append(i.text.strip())
        

for i in icc_bowler.find_all('span',class_="table-body__logo-text"):
    bowler_Team.append(i.text)
       

top_bowlers=pd.DataFrame({'Team ':bowler_Team[0:10],'Rating ':bowler_Rating[0:10]})
top_bowlers

  Team  Rating
0    NZ     697
1   IND     682
2   PAK     681
3   AUS     679
4   AFG     676
5   BAN     672
6    NZ     663
7   AFG     657
8   AFG     651
9   ENG     640

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:
a) Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

b) Top 10 women’s ODI Batting players along with the records of their team and rating.

c) Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [30]:
women_team_url=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
women_top10_batting=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi')
women_top10_allRouder=requests.get('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

women_team_url
women_top10_batting
women_top10_allRouder

In [32]:
women_10_top_team=BeautifulSoup(women_team_url.content)
women_10_top_batting=BeautifulSoup(women_top10_batting.content)
women_10_top_allrounder=BeautifulSoup(women_top10_allRouder.content)

In [33]:
#Top 10 ODI Batsmen
battingRating=[]

for i in women_10_top_batting.find('div',class_="rankings-block__banner--rating"):
    battingRating.append(i.text)

for i in women_10_top_batting.find_all('td',class_="table-body__cell u-text-right rating"):
    battingRating.append(i.text)


battingTeam=[]
battingTeam.append('AUS')
for i in women_10_top_batting.find_all('span',class_="table-body__logo-text"):
    battingTeam.append(i.text)

df=pd.DataFrame.from_dict({'Team':battingTeam[0:10],'Rating':battingRating[0:10]},orient='index')
top_10_batting=df.transpose()
top_10_batting

  Team Rating
0  AUS    785
1  AUS    749
2  ENG    747
3   SA    732
4  AUS    710
5  AUS    701
6   NZ    681
7  ENG    667
8   SL    655
9  IND    649

In [34]:
#Top 10 ODI Team
top_teamMatch=[]
top_teamPoint=[]
top_teamRating=[]

#for i in women_10_top_team.find_all('td',class_="rankings-block__banner--matches"):
 #   top_teamMatch.append(i.text)

for i in women_10_top_team.find_all('td',class_="rankings-block__banner--points"):
    top_teamPoint.append(i.text)
    
for i in women_10_top_team.find_all('td',class_="rankings-block__banner--rating u-text-right"):
    top_teamRating.append(i.text.strip())    
    
for i in women_10_top_team.find_all('tr',class_="table-body"):
    top_teamMatch.append(i.text.replace('\n'," ").replace('SA',"").replace('WI',"").replace('SL',"").replace('NZ',"").strip().split()[3])
    
for i in women_10_top_team.find_all('tr',class_="table-body"):
    top_teamPoint.append(i.text.replace('\n'," ").replace('SA',"").replace('WI',"").replace('SL',"").strip().split()[4])
        
for i in women_10_top_team.find_all('tr',class_="table-body"):
    top_teamRating.append(i.text.replace('\n'," ").replace('SA',"").replace('WI',"").replace('SL',"").strip().split()[5])  
    

TeamRating=pd.DataFrame({'Match ':top_teamMatch[0:10],'Points ':top_teamPoint[0:10],'Rating ':top_teamRating[0:10]})
TeamRating

  Match  Points  Rating
0     33   4,837     167
1     35   4,046     123
2     32   4,157     119
3     31   3,219     101
4     30      31   3,019
5     12   2,768      92
6     30     930      78
7     11   1,962      65
8      8     495      45
9      8     351      44

In [35]:
# Top 10 bowlers
top_allround_Team=[]
top_allround_Rating=[]


for i in women_10_top_allrounder.find_all('div',class_="rankings-block__banner--rating"):
    top_allround_Rating.append(i.text)

for i in women_10_top_allrounder.find_all('td',class_="table-body__cell rating"):
    top_allround_Rating.append(i.text)

for i in women_10_top_allrounder.find_all('div',class_="rankings-block__banner--nationality"):
    top_allround_Team.append(i.text.strip())
        

for i in women_10_top_allrounder.find_all('span',class_="table-body__logo-text"):
    top_allround_Team.append(i.text)
       

top_allround=pd.DataFrame({'Team ':top_allround_Team[0:10],'Rating ':top_allround_Rating[0:10]})
top_allround

  Team  Rating
0   ENG     379
1   AUS     374
2    SA     349
3    WI     339
4    NZ     336
5   AUS     270
6   IND     252
7   AUS     246
8   ENG     220
9    WI     207

# 7) Write a python program to scrape mentioned news details from https://www.cnbc.com/world/?region=world :
        
i) Headline

ii) Time

iii) News Link

In [36]:
cnbc_url=requests.get('https://www.cnbc.com/world/?region=world')
cnbc_url

In [37]:
cnbc_page=BeautifulSoup(cnbc_url.content)

In [38]:
#We are fetching all news under latest news section

Headline=[]
Time=[]
News_Link=[]

for i in cnbc_page.find_all('div',class_="LatestNews-headlineWrapper"):
    Headline.append(i.text.replace('2022',"Ago").split("Ago")[1])
    

    
for i in cnbc_page.find_all('time',class_="LatestNews-timestamp"):
    Time.append(i.text)

for i in cnbc_page.find_all('a',class_="LatestNews-headline"):
    News_Link.append(i['href'])

In [39]:
Latest_news=pd.DataFrame({'Headline':Headline,'Time':Time,'News Link':News_Link})
Latest_news

,Headline,Time,News Link
0,The best and worst places to live in the world...,2 Hours Ago,https://www.cnbc.com/2022/08/07/global-liveabi...
1,"George Clooney had tequila, Ryan Reynolds gin....",4 Hours Ago,https://www.cnbc.com/2022/08/07/george-clooney...
2,9 corporate leaders share their best hacks for...,4 Hours Ago,https://www.cnbc.com/2022/08/07/9-busy-people-...
3,Bethenny Frankel: The most successful people h...,5 Hours Ago,https://www.cnbc.com/2022/08/07/bethenny-frank...
4,The 7 states with the least credit card debt,5 Hours Ago,https://www.cnbc.com/2022/08/07/states-with-th...
5,"Albemarle beats estimates on lithium prices, C...",5 Hours Ago,https://www.cnbc.com/2022/08/07/lithium-is-key...
6,These stocks are best positioned to weather a ...,5 Hours Ago,https://www.cnbc.com/2022/08/07/these-stocks-a...
7,Strong returns are hard to find in,5 Hours Ago,https://www.cnbc.com/2022/08/07/strong-returns...
8,Some consumers are cutting back on restaurant ...,6 Hours Ago,https://www.cnbc.com/2022/08/07/consumers-are-...
9,Climate change is making some homes to costly ...,6 Hours Ago,https://www.cnbc.com/2022/08/07/climate-change...
10,Why creating a horror movie haven on Netflix m...,7 Hours Ago,https://www.cnbc.com/2022/08/07/netflix-may-be...
11,Elon Musk challenges Twitter CEO Parag Agrawal...,21 Hours Ago,https://www.cnbc.com/2022/08/06/elon-musk-chal...
12,Large Indiana employers Eli Lilly and Cummins ...,22 Hours Ago,https://www.cnbc.com/2022/08/06/eli-lilly-says...
13,"Czech prince raises $300,000 in NFTs to restor...","August 6, 2022",https://www.cnbc.com/2022/08/06/27-year-old-bo...
14,President Joe Biden tests negative for Covid-1...,"August 6, 2022",https://www.cnbc.com/2022/08/06/president-joe-...
15,Fed Governor Bowman sees 'similarly sized' int...,"August 6, 2022",https://www.cnbc.com/2022/08/06/fed-governor-b...
16,This 39-year-old makes $160K/month in passive ...,"August 6, 2022",https://www.cnbc.com/2022/08/06/this-39-year-o...
17,Most of Buffett’s portfolio is tied up in just...,"August 6, 2022",https://www.cnbc.com/2022/08/06/most-of-warren...
18,5 tips for cutting down on credit card costs a...,"August 6, 2022",https://www.cnbc.com/2022/08/06/how-to-curb-cr...
19,This 41-year-old left the U.S. for Bangkok and...,"August 6, 2022",https://www.cnbc.com/2022/08/06/this-digital-n...
20,It's time to cash in on these attractive stock...,"August 6, 2022",https://www.cnbc.com/2022/08/06/goldman-analys...
21,Here's why getting fired from a job you hate c...,"August 6, 2022",https://www.cnbc.com/2022/08/06/therapist-gett...
22,'Stressed out' STD clinics struggle with surge...,"August 6, 2022",https://www.cnbc.com/2022/08/06/monkeypox-std-...
23,Want to build generational wealth? Avoid these...,"August 6, 2022",https://www.cnbc.com/2022/08/06/building-gener...
24,A.I.-powered drug hunters are nearing a pivota...,"August 6, 2022",https://www.cnbc.com/2022/08/06/ai-powered-dru...
25,The,"August 6, 2022",https://www.cnbc.com/2022/08/06/the-2022-stock...
26,"Berkshire reports operating earnings surge, bu...","August 6, 2022",https://www.cnbc.com/2022/08/06/berkshire-hath...
27,Why the best states for business may be the wo...,"August 6, 2022",https://www.cnbc.com/2022/08/06/state-worker-p...
28,"Higher prices, skimpier portions and apps — ho...","August 6, 2022",https://www.cnbc.com/2022/08/06/higher-prices-...
29,What to know before 'unretiring' if you're on ...,"August 6, 2022",https://www.cnbc.com/2022/08/06/social-securit...

# Q8 Write a python program to scrape the details of most downloaded articles from AI in last 90 days.
https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles

Scrape below mentioned details :

i) Paper Title

ii) Authors

iii) Published Date

iv) Paper URL

In [40]:
article_url=requests.get('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')
article_url

In [41]:
article_page=BeautifulSoup(article_url.content)

In [42]:
paper_title=[]
authors=[]
publishedDate=[]
paperUrl=[]


for i in article_page.find_all('h2',class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR"):
    paper_title.append(i.text)

for i in article_page.find_all('span',class_="sc-1w3fpd7-0 pgLAT"):
    authors.append(i.text)
    
for i in article_page.find_all('span',class_="sc-1thf9ly-2 bKddwo"):
    publishedDate.append(i.text)

# find all the anchor tags with "href" 
# attribute starting with "https://"
for i in article_page.find_all('a',attrs={'href': re.compile("^https://")},class_="sc-5smygv-0 nrDZj"):
    paperUrl.append(i.get('href'))

In [43]:
Ai_Aritcle=pd.DataFrame({'Paper Title':paper_title,'Authors':authors,'Published Date':publishedDate,'Paper URL':paperUrl})
Ai_Aritcle

,Paper Title,Authors,Published Date,Paper URL
0,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
1,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
2,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
3,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
4,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
5,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
6,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
7,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
8,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
9,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
10,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
11,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
12,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
13,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
14,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
15,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
16,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
17,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
18,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
19,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
20,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
21,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
22,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
23,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
24,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

# 9) Write a python program to scrape mentioned details from dineout.co.in :
    
i) Restaurant name
ii) Cuisine
iii) Location
iv) Ratings
v) Image URL

In [44]:
dineout_url=requests.get('https://www.dineout.co.in/delhi-restaurants/buffet-special')
dineout_url

In [45]:
dineout_page=BeautifulSoup(dineout_url.content)

In [46]:
RestaurantName=[]
Cuisine=[]
Location=[]
Ratings=[]
ImageURL=[]

for i in dineout_page.find_all('div',class_="restnt-info cursor"):
    RestaurantName.append(i.text)

for i in dineout_page.find_all('span',class_="double-line-ellipsis"):
    Cuisine.append(i.text.split("|")[1])

for i in dineout_page.find_all('div',class_="restnt-loc ellipsis"):
    Location.append(i.text)

for i in dineout_page.find_all('div',class_="restnt-rating rating-4"):
    Ratings.append(i.text)

for i in dineout_page.find_all('img',class_="no-img"):
    ImageURL.append(i['data-src'])

In [47]:
Dineout=pd.DataFrame({'Restaurant name':RestaurantName,'Cuisine':Cuisine,'Location':Location,'Ratings':Ratings,'Image URL':ImageURL})
Dineout

,Restaurant name,Cuisine,Location,Ratings,Image URL
0,"Castle BarbequeConnaught Place, Central Delhi","Chinese, North Indian","Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...
1,"Jungle Jamboree3CS Mall,Lajpat Nagar - 3, Sout...","North Indian, Asian, Italian","3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,"Castle BarbequePacific Mall,Tagore Garden, Wes...","Chinese, North Indian","Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,"Cafe KnoshThe Leela Ambience Convention Hotel,...","Italian, Continental","The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,"The Barbeque CompanyGardens Galleria,Sector 38...","North Indian, Chinese","Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,"India GrillHilton Garden Inn,Saket, South Delhi","North Indian, Italian","Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,"Delhi BarbequeTaurus Sarovar Portico,Mahipalpu...",North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que VillageIndirapuram Ha...,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.8,https://im1.dineout.co.in/images/uploads/resta...
8,"Indian Grill RoomSuncity Business Tower,Golf C...","North Indian, Mughlai","Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...

# 10) Write a python program to scrape the details of top publications from Google Scholar from
https://scholar.google.com/citations?view_op=top_venues&hl=en

i) Rank
ii) Publication
iii) h5-index
iv) h5-median

In [48]:
GoogleScholar_url=requests.get('https://scholar.google.com/citations?view_op=top_venues&hl=en')
GoogleScholar_url

In [49]:
GoogleScholar_Page=BeautifulSoup(GoogleScholar_url.content)

In [50]:
rank=[]
Publication=[]
h5_index=[]
h5_median=[]

for i in GoogleScholar_Page.find_all('td',class_="gsc_mvt_p"):
    rank.append(i.text)

for i in GoogleScholar_Page.find_all('td',class_="gsc_mvt_t"):
    Publication.append(i.text)

for i in GoogleScholar_Page.find_all('a',class_="gs_ibl gsc_mp_anchor"):
    h5_index.append(i.text)

for i in GoogleScholar_Page.find_all('span',class_="gs_ibl gsc_mp_anchor"):
    h5_median.append(i.text)

In [51]:
Google_Scholar=pd.DataFrame({'Rank':rank,'Publication':Publication,'h5-index':h5_index,'h5-median':h5_median})
Google_Scholar

    Rank                                        Publication h5-index h5-median
0     1.                                             Nature      444       667
1     2.                The New England Journal of Medicine      432       780
2     3.                                            Science      401       614
3     4.  IEEE/CVF Conference on Computer Vision and Pat...      389       627
4     5.                                         The Lancet      354       635
..   ...                                                ...      ...       ...
95   96.                       Journal of Business Research      145       233
96   97.                                   Molecular Cancer      145       209
97   98.                                            Sensors      145       201
98   99.                              Nature Climate Change      144       228
99  100.                    IEEE Internet of Things Journal      144       212

[100 rows x 4 columns]